a {
	color: #a83b7c;
}
a:hover {
	color: #a83b7c;
}
.bg-primary {
	background:#a83b7c !important;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
	background-color: #a83b7c !important;
}
.bg-secondary {
	background: #04cad0 !important;
}
a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
	background-color: #04cad0 !important;
}
/*--- gradient-backgrounds --*/
.bg-primary-gradient {
	background:linear-gradient(to right bottom,#a83b7c,#a55c87) !important;
}
a.bg-primary-gradient:hover, a.bg-primary-gradient:focus, button.bg-primary-gradient:hover, button.bg-primary-gradient:focus {
	background-color: #a83b7c !important;
}
.bg-secondary-gradient {
	background: linear-gradient(to bottom right, #04cad0 0% , #79f1e9 100%) !important;
}
a.bg-secondary-gradient:hover, a.bg-secondary-gradient:focus, button.bg-secondary-gradient:hover, button.bg-secondary-gradient:focus {
	background-color: #04cad0 !important;
}
.border-primary {
	border-color: #a83b7c !important;
}
.border-secondary {
	border-color: #04cad0 !important;
}
.text-primary {
	color: #a83b7c !important;
}
a.text-primary:hover, a.text-primary:focus {
	color: #a83b7c  !important;
}
.text-secondary {
	color: #04cad0 !important;
}
a.text-secondary:hover, a.text-secondary:focus {
	color: #04cad0 !important;
}
.table-primary, .table-primary>th, .table-primary>td {
	background-color: #f7d8ea;
}
.table-hover .table-primary:hover {
	background-color: #f7d8ea;
}
.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
	background-color: #f7d8ea;
}
.table-secondary, .table-secondary>th, .table-secondary>td {
	background-color:#dbf6f7;
}
.table-hover .table-secondary:hover {
	background-color: #dbf6f7;
}
.table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th {
	background-color: #dbf6f7;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color: #a83b7c;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #a83b7c !important;
    border: 1px solid #a83b7c !important;
}
.btn-primary {
	color: #fff;
	background: #a83b7c !important;
	border-color: #a83b7c !important;
}
.btn-primary:hover {
	color: #fff;
	background-color: #ab4983;
	border-color: #ab4983;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 2px rgb(168, 59, 124,0.9);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #a83b7c;
	border-color: #ab4983;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #a83b7c;
	border-color: #ab4983;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(168, 59, 124,0.9);
}
.btn-secondary {
	color: #fff;
	background: #04cad0 !important;
	border-color: #04cad0;
}
.btn-secondary:hover {
	color: #fff;
	background-color:#17c8ce;
	border-color:#17c8ce;
}
.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 2px rgba(4, 202, 208, 0.9);
}
.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color:#17c8ce;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color:#17c8ce;
	border-color:#17c8ce;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(4, 202, 208,0.9);
}
.btn-primary-light {
	color: #a83b7c;
    background: #f7d8ea !important;
    border-color: #f7d8ea !important;
}
.btn-primary-light:hover {
	color: #fff;
	background-color: #a83b7c !important;
	border-color: #a83b7c;
}
.btn-primary-light:focus, .btn-primary-light.focus {
	box-shadow: 0 0 0 2px rgb(168, 59, 124,0.9);
}
.btn-secondary-light {
	color: #04cad0;
	background: #dbf6f7 !important;
	border-color: #dbf6f7;
}
.btn-secondary-light:hover {
	color: #fff;
	background-color: #04cad0 !important;
	border-color: #04cad0;
}
.btn-secondary-light:focus, .btn-secondary-light.focus {
	box-shadow: 0 0 0 2px rgba(240, 239, 241, 0.9);
}
/*--gradient-buttons--*/
.btn-primary-gradient {
	color: #fff;
	background: linear-gradient(to right bottom,#a83b7c,#ab4983) !important;
	border-color: #a83b7c !important;
}
.btn-primary-gradient:hover {
	color: #fff;
	background-color: #ab4983;
	border-color: #ab4983;
}
.btn-primary-gradient:focus, .btn-primary-gradient.focus {
	box-shadow: 0 0 0 2px rgb(168, 59, 124,0.9);
}
.btn-primary-gradient.disabled, .btn-primary-gradient:disabled {
	color: #fff;
	background-color: #a83b7c;
	border-color: #a83b7c;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active, .btn-primary-gradient:not(:disabled):not(.disabled).active, .show>.btn-primary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #a83b7c;
	border-color: #a83b7c;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active:focus, .btn-primary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-primary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(168, 59, 124,0.9);
}
.btn-secondary-gradient {
	color: #fff;
	background:linear-gradient(to bottom right, #04cad0 0% , #79f1e9 100%) !important;
	border-color: #04cad0;
}
.btn-secondary-gradient:hover {
	color: #fff;
	background-color: #04cad0;
	border-color: #04cad0;
}
.btn-secondary-gradient:focus, .btn-secondary-gradient.focus {
	box-shadow: 0 0 0 2px rgba(4, 202, 208, 0.9);
}
.btn-secondary-gradient.disabled, .btn-secondary-gradient:disabled {
	color: #fff;
	background-color: #04cad0;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active, .btn-secondary-gradient:not(:disabled):not(.disabled).active, .show>.btn-secondary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #04cad0;
	border-color: #04cad0;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active:focus, .btn-secondary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(4, 202, 208,0.9);
}
.btn-outline-primary {
	color: #a83b7c;
	background: transparent;
	background-image: none;
	border-color: #a83b7c;
}
.btn-outline-primary:hover {
	color: #fff;
	background: #a83b7c;
	border-color: #a83b7c;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #a83b7c;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #a83b7c;
	border-color: #a83b7c;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-secondary {
	color: #04cad0;
	background-color: transparent;
	background-image: none;
	border-color: #04cad0;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #04cad0;
	border-color: #04cad0;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 2px rgb(4, 202, 208,0.9);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #04cad0;
	background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #04cad0;
	border-color: #04cad0;
}
.btn-link {
	color: #a83b7c;
}
.btn-link:hover {
	color: #ab4983;
}
.drop-icon-wrap .drop-icon-item:hover{
	color: #a83b7c;

}	
.dropdown-item:hover, .dropdown-item:focus {
	color: #a83b7c;
}
.dropdown-item.active, .dropdown-item:active {
	color: #a83b7c;
}

/*----- Custom control -----*/
timeline__item:after {
    border: 6px solid #a83b7c;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #a83b7c;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #a83b7c;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #a83b7c;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #a83b7c;
}
.custom-select:focus {
	border-color: #a83b7c;
}
.custom-file-label::after {
	background-color: #a83b7c;
}
.custom-range::-webkit-slider-thumb {
	background-color: #a83b7c;
}
.custom-range::-moz-range-thumb {
	background-color: #a83b7c;
}
.custom-range::-ms-thumb {
	background-color: #a83b7c
}

/*------ Navigation -------*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #a83b7c;
}

.page-item.active .page-link {
	background-color: #a83b7c;
}

/*------ Email services -------*/

.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: #a83b7c;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: #a83b7c;
}
.range.range-primary output {
	background-color: #a83b7c;
}
.range.range-primary input[type="range"] {
	outline-color: #a83b7c;
}

/*------ Pricing Styles ---------*/
.panel.price>.panel-heading {
	background:#a83b7c;
}
.nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
	background: #a83b7c;
}
.nav-tabs .nav-item1 .nav-link.active {
	background: #a83b7c;
}

.pop-primary {
	color:#a83b7c;
}
.popsecondary {
	color: #04cad0;
}

/*----- Typography ------*/
.heading-primary {
	background-color: #a83b7c;
}

.breadcrumb-item1 a {
	color: #a83b7c;
}

/*-------Accordion-----------*/
.panel-default>.panel-heading {
	color: #a83b7c;
	background-color:#f7d8ea;
	border-color: #f7d8ea;
}

/*-----Badges-----*/
.badge-primary {
	color: #fff;
	background: #a83b7c;
}
.badge-primary[href]:hover, .badge-primary[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #ab4983;
}
.badge-secondary {
	color: #fff;
	background: #04cad0  !important;
}
.badge-secondary[href]:hover, .badge-secondary[href]:focus {
	color: #fff;
	text-decoration: none;
	background: #04cad0 ;
}

.alert-primary {
	color: #ab4983;
    background-color: #d1cfef;
    border-color: #d1cfef;
}
.alert-primary hr {
	border-top-color: #d1cfef;
}
.alert-primary .alert-link {
	color: #172b46;
}
.alert-secondary {
	color: #04cad0;
	background-color: #d7f4f5;
	border-color: #d7f4f5;
}
.alert-secondary hr {
	border-top-color: #d7f4f5;
}
.alert-secondary .alert-link {
	color: #04cad0;
}

/*------ Headers -------*/
.header {
	background: #a83b7c;
}
.header-bg {
	background:#564ec;
}

.text-blue {
	color: #a83b7c!important;
}
.nav-tabs .nav-link:hover:not(.disabled) {
	background: #a83b7c;
}
.nav-tabs .nav-link.active {
	background: #a83b7c;
}
.page-main:after{
    background:#a83b7c;
}
@media (max-width: 992px) {
	.nav-item.with-sub .sub-item{
		border-top:2px solid #a83b7c;
	}
}

/*--------panel----------*/

.expanel-primary {
	border: #a83b7c !important;
}
.expanel-secondary {
	border: #04cad0 !important;
}
.expanel-primary>.expanel-heading {
	color: #fff !important;
	background-color: #a83b7c !important;
	border-color: #a83b7c !important;
}
.expanel-secondary>.expanel-heading {
	color: #fff !important;
	background-color: #04cad0 !important;
	border-color: #04cad0 !important;
}

/*-------- Loaders ---------*/

.spinner {
	background-color: #a83b7c;
}
.spinner-lg {
	background-color: #a83b7c;
}
.double-bounce1, .double-bounce2 {
	background-color: #a83b7c;
}
.cube1, .cube2 {
	background-color: #a83b7c;
}
.lds-heart div {
	background: #a83b7c;
}
.lds-heart div:after,
.lds-heart div:before {
	background: #a83b7c;
}
.lds-ring div {
	border: 6px solid #a83b7c;
	border-color: #a83b7c transparent transparent transparent;
}
/*PMboYSIqMee+p4uAjskftSrErYaF9PDNDn+EGSzR9N2BspYI8=
feCz66HNQhyoUIndT6pXQpWta+PA3e1h3yExMyH1EsOo6f8PXnNPyHGLRfchOSF9WSX7exs=*/
.lds-hourglass:after {
	border: 26px solid #a83b7c;
	border-color: #a83b7c transparent ;
}
.form-signin .form-control:focus{
	border-bottom:1px solid #a83b7c;
}

a.chip:hover {
	background-color: #a83b7c;
}
/*---- Tags-----*/
.tag-primary {
	background-color:  #a83b7c;
	color: #fff;
}
.tag-secondary {
	background-color: #04cad0;
	color: #fff;
}
.selectgroup-input:checked+.selectgroup-button {
	border-color: #a83b7c;
	color: #a83b7c;
}
.selectgroup-input:focus+.selectgroup-button {
	border-color: #a83b7c;
	color: #a83b7c;
}
.timeline--horizontal .timeline-divider {
	background: #a83b7c!important;
}

/*-----Back to Top-----*/
#back-to-top {
	background:#a83b7c;
}
#back-to-top:hover {
	color: #a83b7c!important;
	border: 2px solid #a83b7c;
}
.tabs-menu1 ul li .active{
	border-bottom:5px solid #a83b7c;
}
.tab-content i{
	color:#a83b7c;
}
.tabs-menu2 ul li .active{
	color: #a83b7c;
}

/*-- rating--*/
.rating-stars .rating-stars-container .rating-star.is--active .fa-heart ,
.rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
	color: #a83b7c;
}
.message-feed:not(.right) .mf-content {
    background: #a83b7c;
}
.message-feed:not(.right) .mf-content:before{
    border-right-color: #a83b7c;
}
.msb-reply button {
    background: #a83b7c;
}

/* --------Added--------- css*/
.cal1 .clndr .clndr-table .header-days {
	background: #a83b7c;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
	background: #a83b7c;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
   background: #a83b7c;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
	background: #a83b7c;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #a83b7c;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #a83b7c;
}
.fc-event {
	border: 1px solid #a83b7c;
}
.fc-event,
.fc-event-dot {
	background-color: #a83b7c;
}

/* ----Added css----*/
div.conv-form-wrapper div.options div.option {
	color: #a83b7c;
	border: 1px solid #a83b7c;
}
form.convFormDynamic button.submit {
	color:#a83b7c;
    border:1px solid #a83b7c!important;  
}
div.conv-form-wrapper div.options div.option.selected {
    background: #a83b7c;
}
div.conv-form-wrapper div.options div.option.selected:hover {
    background: #a83b7c;
}
form.convFormDynamic button.submit:hover {
    background:#a83b7c!important;
}
div.conv-form-wrapper div#messages div.message.from {
    background:#a83b7c;
}
.addui-slider .addui-slider-track .addui-slider-handle:after {
	background: #a83b7c;
}
.addui-slider .addui-slider-track .addui-slider-range {
	background: #a83b7c;
}
.timeline__item:after {
	border: 6px solid #a83b7c;
}
.tab_wrapper > ul li.active {
    border-color: #a83b7c;
    background: #ab4983;
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
	background: #a83b7c;
}
/*----chart-drop-shadow----*/
.chart-dropshadow-primary{
-webkit-filter: drop-shadow(-6px 12px 4px rgba(168, 59, 124 .5));
    filter: drop-shadow(-6px 12px 4px rgba(168, 59, 124, .5));
}
.chart-dropshadow-primary-1{
-webkit-filter: drop-shadow(-6px 12px 4px rgba(168, 59, 124 .2));
    filter: drop-shadow(-6px 12px 4px rgba(168, 59, 124, .2));
}
.chart-dropshadow-secondary{
-webkit-filter: drop-shadow(-6px 12px 4px rgba(4, 202, 208 .2));
    filter: drop-shadow(-6px 12px 4px rgba(4, 202, 208, .2));
}
.shadow-primary{
	box-shadow: 0 7px 30px rgba(168, 59, 124, 0.3)!important
}
.shadow-secondary{
	box-shadow: 0 7px 30px rgba(248, 147, 67, 0.10)!important
}
.weather-card .top {
	background:#a83b7c;
}
.primary .pricing-divider{
	background:linear-gradient(to bottom right,#ab4983,#a83b7c) !important;
	padding: 1em 0 4em;
	position: relative;
}
.secondary .pricing-divider{
	background:linear-gradient(to bottom right, #04cad0 0% , #79f1e9 100%) !important;
	padding: 1em 0 4em;
	position: relative;
}
.primary b {
	color:#a83b7c;
}
.secondary b {
	color:#04cad0;
}
.product-grid6 .title a:hover{
	color:#a83b7c;
}
.product-grid6 .icons li a{
	color:#a83b7c;
	border:1px solid #a83b7c;
}
#user-profile .profile-details a > i {
	color: #a83b7c;
}
#user-profile .profile-details i{
	color: #a83b7c;
}
.text-primary-gradient {
	background: linear-gradient(to right bottom, #a83b7c 0%, #a55c87 100%);
}
.text-primary-gradient {
	background: linear-gradient(to right bottom, #a83b7c 0%, #a55c87 100%);
}
.text-secondary-gradient{;
	background: linear-gradient(to right , #04cad0 0%,#79f1e9 100%);
}

/*---about us---*/
.statistics-info .counter-icon i {
    color: #a83b7c;
}
.statistics-info .counter-icon {
    border: 1px solid #a83b7c;
}

.chat .msg_head{
	background:#a83b7c;
}

.top-footer p:hover{
	color:#a83b7c;
}
.top-footer a address:hover{
	color:#a83b7c;
}
.top-footer a:hover{
	color:#a83b7c;
}
.footer-payments a:hover{
	color:#a83b7c;
}
.footer-social-list a:hover{
	color:#a83b7c;
}
.sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled) {
	color: #a83b7c;
}
.label-primary{
	background:#a83b7c;
}
.sweet-alert button {
	background-color: #a83b7c!important;
}
/*PMboYSIqMee+p4uAjskftSrErYaF9PDNDn+EGSzR9N2BspYI8=
feCz66HNQhyoUIndT6pXQpWta+PA3e1h3yExMyH1EsOo6f8PXnNPyHGLRfchOSF9WSX7exs=*/


/*Horizontal menu */
.horizontal-main {
	background:#0b2239;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
	color: #fff;
	background:#1a2f44;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover{
	color: #fff;
	background:#1a2f44;
}
.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active:hover{
	color: #fff;
}
.horizontalMenu>.horizontalMenu-list>li>a i{
	color: #e855ad;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	text-decoration: none;
	color:#a83b7c;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{
	text-decoration: none;
	color:#a83b7c;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover{
	text-decoration: none;
	color:#a83b7c;
}
@media (max-width: 767.98px) and (min-width: 576px){
	.search-show .search-element {
		background:#a83b7c;
	}
}
@media (max-width: 575.98px){
	.search-show .search-element {
		background:#a83b7c;
	}
}
.form-control.header-search::placeholder{
	color:#f2f2ff;
	opacity:0.5
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #a83b7c;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #a83b7c;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label {
    background-color:#a83b7c;
}
.onoffswitch2-checkbox:checked + .onoffswitch-label2, .onoffswitch2-checkbox:checked + .onoffswitch2-label:before {
   border-color:#a83b7c;
}

.badge-primary-gradient {
	color: #fff;
	background: linear-gradient(to bottom right,  #a83b7c 0% , #a55c87 100%) !important;
}
.badge-primary-gradient[href]:hover, .badge-primary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #a83b7c;
}
.custom-switch-input:checked~.custom-switch-indicator {
	background: #a83b7c;
}
.custom-switch-input:focus~.custom-switch-indicator {
	border-color:#a83b7c ;
}
.ms-choice {
	color:#a83b7c !important;
}
.sidebar  .tabs-menu ul li .active{
	background:#a83b7c;
}
.chat .search_btn{
	background-color: #a83b7c !important;
}
@media (max-width: 767.98px) and (min-width: 576px){
	.search-show .search-element {
		background:#a83b7c;
	}
}
.btn.dropdown-toggle.btn-primary~.dropdown-menu .dropdown-plus-title {
	border-color: rgb(168, 59, 124) !important;
}
.page-link:hover {
	color: #a83b7c;
}
/*left-menu*/
.left-app .side-menu__icon{
	color: #a83b7c;
}
.left-app .slide-item.active, .slide-item:hover, .slide-item:focus{
	color: #a83b7c;
}
.left-app  .slide.submenu .side-menu__label:hover{
	color:#a83b7c; 
}
.left-app .side-menu .slide-menu.submenu-list a:hover{
	color:#a83b7c;
}

/* left-menu2 */
.left-menu2 .side-menu__item.active:hover{
	background:#a83b7c;
	color:#fff;
}
.left-menu2 .side-menu__item.active:hover{
	background:#a83b7c;
	color:#fff;
}
.left-menu2 .side-menu li.active>a{
	color: #a83b7c;
}
.left-menu2 .side-menu__item.active{
	color:#fff !important;
	background:#a83b7c !important;
} 
.left-menu2 .slide-menu li.active>a {
    color: #a83b7c;
}
.left-menu2 .side-menu li a:hover{
    color: #fff;	
	background:#a83b7c
}
.left-menu2 .slide-menu li.active>a {
    color: #a83b7c;
	background: none;
}
.left-menu2 .slide-menu li a:hover{
	color: #a83b7c;	
	background: none;
}
.left-menu2 .side-menu__icon {
	color: #a83b7c;
}